body {
  margin: 0;
  background: url(/src/assets/KK_reactor.gif) no-repeat center fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#arjs-video {
  z-index: 0 !important; 
}

video {
  z-index:0 !important
}

.a-canvas {
  width: 100% !important;
  height: 100% !important;
}

.my-button {
  background-image:linear-gradient(to right, red, orange);
  color: #ff4800;
  background: #f2f2f200;
  font-family: 'Trebuchet MS', sans-serif;
  
  width: 6.5rem;

  border-image-slice: 1;
  border-width: 2.5px;
  border-radius: 2px;
  border-image-source: linear-gradient(to right, red, rgb(255, 145, 0));

  cursor: pointer;

  transition: 0.3s;
  padding: .75rem;
}

.my-button:hover{
  background: #ff4800;
  color:black;
}

.submit-button {
  margin-top: .5rem;
}

.input-container {
  margin-top: .75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input#eth_address {
  width:100%;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 6px;
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
}

.main-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#logo { 
  width: 45vw;
  margin-top: 3.25rem;
  margin-bottom: 4rem;
}